[submodule "android-rss"]
	path = android-rss
	url = git@github.com:IvonLiu/android-rss.git
[submodule "extended-calendar-view"]
	path = extended-calendar-view
	url = git@github.com:IvonLiu/ExtendedCalendarView.git
